[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
rich = "*"
pygost = "~=5.7"
sympy = "*"
Flask = "*"
Flask-Cors = "*"
gunicorn = "*"

[dev-packages]
black = {extras = ["jupyter"], version = "*"}
flake8 = "*"
wemake-python-styleguide = "*"
isort = "*"

[scripts]
flakeapp = "flake8 ./app"
isort = "isort ."
black = "black ."
format = "bash -c 'pipenv run black && pipenv run isort'"
dev = "flask run --reload"

[requires]
python_version = "3.7"
