[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-assets = "*"
pypugjs = "*"
cssprefixer = "*"
cssmin = "*"
autoprefixer = "9.2.0"
flask-wtf = "*"

[dev-packages]
libsass = "*"
livereload = "*"

[requires]
python_version = "3.8"
