asttokens==2.0.5
black==21.9b0
chardet==4.0.0
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
console-logging==0.0.5.0
executing==0.8.2
Flask==2.0.2
Flask-WTF==0.15.1
icecream==2.1.1
itsdangerous==2.0.1
Jinja2==3.0.2
livereload==2.6.3
MarkupSafe==2.0.1
mypy-extensions==0.4.3
numpy==1.21.2
pathspec==0.9.0
platformdirs==2.4.0
pycodestyle==2.7.0
Pygments==2.10.0
pygments-json==0.1
pygments-solarized==0.0.3
pygost==5.6
pypugjs==5.9.9
regex==2021.10.8
rich==10.12.0
six==1.16.0
spylogger==1.2.2
termcolor==1.1.0
toml==0.10.2
tomli==1.2.1
tornado==6.1
typing-extensions==3.10.0.2
Werkzeug==2.0.2
WTForms==2.3.3
yapf==0.31.0
