extends common/base

block content
    main
        form(method="POST" enctype="multipart/form-data")
            | {{ form.hidden_tag()}}
            div.input-w-header
                |{{form.alg.label}}
                |{{form.alg}}
            div.input-w-header
                |{{form.key.label}}
                |{{form.key}}
            |{{form.text}}
            div.flex-row
                |{{form.dec}}
                |{{form.enc}}

        p.result.input=result
