button,
input[type="submit"],
.btn {
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #191dff;
  color: #fff;
}

button,
input[type="submit"],
.btn {
  display: inline-block;
}
