input:not([type="submit"]),
textarea,
select,
.input {
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  margin-bottom: 20px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.05);
  width: 100%;
}

select option {
  background-color: #222222;
  color: #fff;
}

textarea {
  max-width: 100%;
}

.input-w-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input-w-header label {
  margin-bottom: 10px;
}
